*{
    margin: 0;
    padding:0;
}
/* 去掉倾斜线 */
em,i{
    font-style: normal;
}
li{
    list-style: none;
}
/* 鼠标放上去变小手 */
button{
    cursor:pointer;
}
/* 去掉下划线 */
a{
    color:#666;
    text-decoration: none;
}
/* 鼠标悬停变颜色 */
a:hover{
    color:#e33333;
}
/* 去掉蓝色框框 */
input{
    outline:none;
}
