.crumb_wrap {
    margin-top:20px ;
    margin-bottom: 20px;
}
.crumb_wrap a{
  font-size:12px;
  margin-right:10px;  
}
.preview_wrap{
    width: 400px;
    height: 590px;
}
.preview_wrap .preview_img{
    border: 1px solid #ccc;
    height: 398px;
}
.preview_list{
    margin-top: 60px;
    height: 60px;
    position: relative;
}
.arrow_prve{
    background: url("../img/arrow-prev.png");
    top: 15px;
    left:0px;
    width: 22px;
    height: 32px;
    position: absolute;
}
.arrow_next{
    background: url("../img/arrow-next.png");
    top: 15px;
    right:0px;
    width: 22px;
    height: 32px;
    position: absolute;
}
.preview_list ul{
    width: 320px;
    height: 60px;
    margin: 0 auto;
}
.preview_list li{
    width: 56px;
    height: 56px;
    float: left;
}
.preview_list ul li:nth-child(2){
    border:2px solid #c81623;
}
.itemInfo h4{
    font-size: 16px;
   width: 718px;
}
.itemInfo h5{
    font-size: 16px;
    color: #e1128e;
    font-weight:normal;
}
.summary_price{
    height: 56px;
    line-height: 56px;
    background-color: #fee9eb;
}
.summary_pomotion{
    background-color: #fee9eb;
    height: 82px;
    /* line-height: 82px; */
}
.summary span{
    font-size: 12px;
    padding-left:10px;
}
.summary_price i{
    font-size: 24px;
color: #e1228e;
margin-left: 35px;
}
.summary_price strong{
    font-weight: normal;
    color: #c81623;
}
.summary_price .pj{
    padding-left:375px;
}

/* .summary_pomotion span{

} */
.summary_pomotion .jj{
margin-left: 29px;
}
.summary_pomotion .jj em{
    /* bolor: red; */
display: inline-block;
width: 40px;
height: 22px;
background-color: red;
color:white;
line-height: 22px;
text-align: center;
}
.summary_support{
    height:36px;
    line-height: 36px;
}
.summary_support i{
    padding-left:40px ;
}
.choose_color{
    height: 43px;
    line-height: 43px;
}
/* 代表着第二个恩牛设置东西 */
.choose_color button:nth-child(2){
    margin-left: 12px;
    border: 1px solid #c81623;
}
.choose_color button{
    width:80px ;
    height: 41px;
    background-color: #f7f7f7;
    border:1px sloid #ededed;
   margin-left:12px ;
}
.choose_version button{
       width: 60px;
       height: 32px;
         background-color: #f7f7f7;
         border:1px sloid #ededed;
         margin-left:12px ;
         margin-top:12px;
}
.choose_version button:nth-child(2){
    margin-left: 12px;
    border: 1px solid #c81623;
}
.choose_type button:nth-child(2){
    margin-left: 12px;
    border: 1px solid #c81623;
}
.choose_type button{
    width:80px ;
    height: 30px;
    background-color: #f7f7f7;
    border:1px sloid #ededed;
   margin-left:12px ;
   margin-top:12px;
}
.choose_amount{
    width: 50px;
    height: 46px;
    /* float: left; */
    position: relative;
}
.choose_amount input{
    width: 33px;
    height: 42px;
    border:1px sloid #ccc;
    /* float: left; */
    /* margin-top:14px ; */
    text-align: center
}

.choose_amount .add{
    display: block;
    width: 15px;
    height: 22px;
    background-color: #f1f1f1;
    border:1px solid #ccc;
    text-align: center;
    position: absolute;
    /* 右上角 */
    top: 0;
    right:0;
}
.choose_amount .reduce{
    display: block;
    width:15px;
    height: 22px;
    background-color: #f1f1f1;
    border:1px solid #ccc;
    text-align: center;
    position: absolute;
    /* 右下角 */
    right: 0;
    bottom: 0;
}
/* .addcar{
    width: 142px;
    height: 46px;
     background-color: #c81623;
    font-size:18px;
    color:white;
    margin-left:32px;
    margin-top:22px;
} */
.gwc input{
    width: 143px;
    height: 46px;
    background-color: #c81623;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight:700;
    margin-left: 20px;

}
.choose_btns{
    margin-top:30px;
}